* {
    /* border: 1px solid darkslateblue; */
    border-radius: 3px;
}

html {
    margin: 16px;
    padding: 6px;
    background-color: #242442;
    font-family: Helvetica, Arial, sans-serif;
    color: #e0ebeb;
    display: block;
}

.err {
    background-color: lightyellow;
}

h1 {
    text-transform: uppercase;
    font-size: x-large;
    margin-left: 8px;
}

a {
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: smaller;
    color: inherit;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 3px;
}

span {
    margin: 0px 2px;
}

article {
    max-width: 350px;
    margin-bottom: 16px;
    padding: 16px 10px;
    border: solid 1px #333;
    box-sizing: border-box;
}
